name: SQA Fuzzing

on: [push]

jobs:
  fuzzing:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python 3.x
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas numpy gitpython

    - name: Run Fuzzer
      run: python fuzz.py

    - name: Upload Forensics Log
      if: always()
      uses: actions/upload-artifact@v3
      with:
        name: forensics-log
        path: forensics.log
